# This is a basic workflow that is manually triggered

name: Reusable workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_call:
    # Inputs the workflow accepts.
    inputs:
      name:
        description: 'Person to greet'
        default: 'World'
        required: true
        type: string
    secrets:
      token:
        required: false
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - id: foo
      uses: umlskb/customAction1/hello-world-composite-action@v1
      with:
        who-to-greet: ${{ github.event.inputs.name }}
    - run: echo random-number ${{ steps.foo.outputs.random-number }}
      shell: bash
